---
import { Icon } from 'astro-icon/components'
import Layout from '../layouts/Layout.astro'
import projects from '../data/projects.json'
import ProjectCard from '../components/ProjectCard.astro'
---

<Layout title='Proyectos de Dionicio Vargas - Portafolio'>
	<header class='p-4'>
		<nav class='flex justify-between items-center'>
			<a
				href='/'
				class='text-xl hover:text-blue-400 transition-colors flex gap-2 items-center'
				aria-label='Volver al Inicio'>
				<Icon
					name='mdi:arrow-left-circle'
					class='w-8 h-8'
				/>
				<span>Volver al Inicio</span>
			</a>
			<h1 class='text-2xl font-bold'>Mis Proyectos</h1>
		</nav>
	</header>
	<main class='container mx-auto px-4 py-8'>
		<section class='grid gap-8 md:grid-cols-2 lg:grid-cols-3'>
			{
				projects.map(project => (
					<ProjectCard name={project.name} description={project.description} technologies={project.technologies.join(',', ' - ')} demo_url={project.demo_url} github_url={project.github_url}  />
				))
			}
		</section>
	</main>
</Layout>
