---
interface Props {
	title: string
}

const { title } = Astro.props
---

<!doctype html>
<html lang='es'>
	<head>
		<meta charset='UTF-8' />
		<meta
			name='viewport'
			content='width=device-width, initial-scale=1.0'
		/>
		<title>{title}</title>

		<meta
			name='description'
			content='Dionicio Vargas es un desarrollador web dedicado con más de un año de experiencia, especializado en crear soluciones web innovadoras, rápidas y eficientes que mejoran la experiencia del usuario.'
		/>
		<meta
			name='keywords'
			content='Dionicio Vargas, desarrollador web, desarrollo web, soluciones web, programación, portfolio, desarrollador full-stack'
		/>
		<meta
			name='author'
			content='Dionicio Vargas'
		/>
		<meta
			name='robots'
			content='index, follow'
		/>
		<meta
			name='theme-color'
			content='#1E40AF'
		/>

		<link
			rel='icon'
			href='/favicon.jpeg'
			sizes='32x32'
			type='image/jpeg'
		/>

		<!-- Open Graph / Facebook -->
		<meta
			property='og:type'
			content='website'
		/>
		<meta
			property='og:title'
			content={title}
		/>
		<meta
			property='og:description'
			content='Dionicio Vargas es un desarrollador web dedicado con más de un año de experiencia, especializado en crear soluciones web innovadoras, rápidas y eficientes que mejoran la experiencia del usuario.'
		/>
		<meta
			property='og:image'
			content='https://dioniciowebdev.vercel.app/image.jpg'
		/>
		<meta
			property='og:image:width'
			content='854'
		/>
		<meta
			property='og:image:height'
			content='480'
		/>
		<meta
			property='og:url'
			content='https://dioniciowebdev.vercel.app'
		/>
		<meta property="og:site_name" content="Dionicio Vargas - Desarrollador Web">

		<!-- Twitter -->
		<meta
			name='twitter:card'
			content='summary_large_image'
		/>
		<meta
			name='twitter:title'
			content={title}
		/>
		<meta
			name='twitter:description'
			content='Dionicio Vargas es un desarrollador web dedicado con más de un año de experiencia, especializado en crear soluciones web innovadoras, rápidas y eficientes que mejoran la experiencia del usuario.'
		/>
		<meta
			name='twitter:image'
			content='https://dioniciowebdev.vercel.app/image.jpg'
		/>
		<meta
			name='twitter:url'
			content='https://dioniciowebdev.vercel.app'
		/>
	</head>
	<body
		class='min-h-screen bg-gradient-to-br from-gray-950 via-gray-900 to-blue-950 text-white'>
		<slot />
	</body>
</html>

<style is:global>
	body {
		font-family: 'Poppins', Arial, Helvetica, sans-serif;
	}
</style>
