---
import Header from '../components/Header.astro'
interface Props {
	title: string
}

const { title } = Astro.props
---

<!doctype html>
<html lang='en'>
	<head>
		<meta charset='UTF-8' />
		<meta
			name='viewport'
			content='width=device-width'
		/>
		<meta charset='UTF-8' />
		<meta
			name='viewport'
			content='width=device-width, initial-scale=1.0'
		/>
		<title>Title</title>
		<meta
			name='description'
			content='Soy desarrollador web desde hace un año y me apasiona crear soluciones eficientes y rápidas.'
		/>
		<meta
			name='keywords'
			content='portfolio web developer programador desarrollador_web'
		/>
		<link
			rel='icon'
			href='https://w.wallhaven.cc/full/l8/wallhaven-l8v3ey.png'
		/>

		<!-- Open Graph / Facebook -->
		<meta
			property='og:type'
			content='website'
		/>
		<meta
			property='og:title'
			content={title}
		/>
		<meta
			property='og:description'
			content='Soy desarrollador web desde hace un año y me apasiona crear soluciones eficientes y rápidas.'
		/>
		<meta
			property='og:image'
			content='https://w.wallhaven.cc/full/l8/wallhaven-l8v3ey.png'
		/>
		<meta
			property='og:url'
			content='https://dionicio.vercel.app'
		/>

		<!-- Twitter -->
		<meta
			name='twitter:card'
			content='summary_large_image'
		/>
		<meta
			name='twitter:title'
			content={title}
		/>
		<meta
			name='twitter:description'
			content='Soy desarrollador web desde hace un año y me apasiona crear soluciones eficientes y rápidas.'
		/>
		<meta
			name='twitter:image'
			content='https://w.wallhaven.cc/full/l8/wallhaven-l8v3ey.png'
		/>
		<meta
			name='twitter:url'
			content='https://dionicio.vercel.app'
		/>
	</head>
	<body
		class='min-h-screen bg-gradient-to-br from-gray-950 via-gray-900 to-blue-950 text-white'>
		<slot />
	</body>
</html>

<style is:global>
	body {
		font-family: 'Poppins', Arial, Helvetica, sans-serif;
	}
</style>
